{% extends "base.html" %}

{% block content %}


<div class="container">
  <div class="row">
      <div class="span12">
        <h1>Startup profile</h1>
        User=={{ entrepreneur.person.user }}<br>
        City=={{ entrepreneur.city }}<br>
        Country=={{ entrepreneur.country }}<br>
        State={{ entrepreneur.state }}<br>
        Name={{ entrepreneur.name }}<br>
        Choices={{ entrepreneur.choices }}<br>
        Avatar={{ entrepreneur.avatar }}<br>
        About_product={{ entrepreneur.about_product }}<br>
        Webs={{ entrepreneur.webs }}<br>
        More={{ entrepreneur.more }}<br>
         
  
        {{ entrepreneur }}
      </div>
  </div>
</div>

{% endblock %}
