{% extends "base.html" %}
{% load i18n %}


{% block body-class %}class="portfolio1"{% endblock %}

{% block content %}

  <div class="container">
    <h1 class="onleft">Our mentors</h1>
    {% if not user.person.is_mentor %}
      <a href="{% url "mentors_create" %}" class="btn large shaded onright margin-top">Do you want to be a mentor?</a>
    {% endif %}
    <div class="row">
        <div class="span12">
          <ul class="inline-list">
            {% for mentor in mentors %}
              <li>
                <a href="{% url "mentors_profile" mentor.person.user.username %}">
                  <img src="{{STATIC_URL}}{{mentor.person.avatar}}"><br>
                {{ mentor.person.user.username }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
{% endblock %}
