{% extends "base.html" %}

{% block body-class %}class="homepage" id="home"{% endblock %}

{% block header_sticky %}{% endblock %}
{% block header_sticky2 %}{% endblock %}

{% block menu %}


    <nav class="menu-wrapper">
        <ul class="menu transitions">
            <li>
                <a href="#home" class="active anchor">Intro</a>
            </li>
            <li>
                <a href="#signup">Join a team</a>
            </li>
            <li>
                <a href="#mentors">Mentors</a>
            </li>
            <li>
                <a href="#startups">Startups</a>
            </li>
            {% if not  user.is_authenticated %}
                <li>
                    <a href="{% url "login" %}">Sign in</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}            

{% block content %}

<div class="page-heading-wrapper">
    <div class="container">
        <div class="row">
            <div class="page-heading span6">
                <iframe width="400" height="225" src="http://www.youtube.com/embed/2jyqea1Gzdk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="page-heading span6">
                <h1>Mentoring Community <br>for Startups</h1>
                <a href="#signup" class="btn shaded anchor">JOIN NOW</a>
            </div>
        </div>
    </div>
</div>

<div class="features-wrapper">
    <div class="container">
        <div class="row">
            <ul class="features">
                <li class="span3">
                    <a href="#" id="modVar">
                        <span class="icon-rounded center"><i class="easycons-heart"></i></span>
                        <h2 class="title"><strong>All about passion.</strong> That's why we are all here.</h2>
                    </a>
                </li>
                <li class="span3">
                    <a href="#">
                        <span class="icon-rounded center"><i class="easycons-calculator"></i></span>
                        <h2 class="title"><strong>Free.</strong> Because we are looking for talented people not money.</h2>
                    </a>
                </li>
                <li class="span3">
                    <a href="#">
                        <span class="icon-rounded center"><i class="easycons-user"></i></span>
                        <h2 class="title"><strong>Open to everyone.</strong> A dream, work hard and time is enough.</h2>
                    </a>
                </li>
                <li class="span3">
                    <a href="#">
                        <span class="icon-rounded center"><i class="easycons-earth"></i></span>
                        <h2 class="title"><strong>International.</strong> Because we play in a worlwide league.</h2>
                    </a>
                </li>
            </ul>
            <div class="center clear">
                <a href="{% url "manifesto" %}" class="btn">Read our Manifesto</a>
            </div>
        </div>
    </div>
</div>

<div class="container howto-wrapper">
    <div class="row">
        <div class="span12">
            <h2 class="retro" id="howto">How to play</h2>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>Startups</h3>
            <ol>
                <li>Sign up as Startup</li>
                <li>Complete your profile</li>
                <li>Request a mentoring session</li>
                <li>Schedule your meeting</li>
                <li>Have the mentoring session</li>
                <li>Rate it and give some feedback</li>
            </ol>
        </div>
        <div class="span6">
            <h3>Mentors</h3>
            <ol>
                <li>Signup as Mentor</li>
                <li>Complete your profile</li>
                <li>Wait until a startup request you</li>
                <li>Schedule the mentoring session</li>
                <li>Have the mentoring session</li>
                <li>Rate it and give some feedback</li>
            </ol>
        </div>
    </div>
    <div class="center clear">
        <a href="{% url "rules" %}" class="btn">Game rules</a>
    </div>
</div>

<div class="signup-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2 class="retro" id="signup">Join a team</h2>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <img src="{{STATIC_URL}}images/icons/rocket-startup.png">
                <a href="{% url "entrepreneurs_create" %}" class="btn">I own a Startup</a>
            </div>

            <div class="span6">
                <img src="{{STATIC_URL}}images/icons/master-mentor.png">
                <a href="{% url "mentors_create" %}" class="btn">I'm a Mentor</a>
            </div>
        </div>
    </div>
</div>

<div class="container mentors-wrapper">
    <div class="row">
        <div class="span12">
            <h2 class="retro" id="mentors">Master Mentors</h2>

            <ul>
                <li>
                    <a href="#">
                        <figure class="glossy">
                            <img src="/static/tmp/jjmerelo.jpg" class="rounded bordered" alt="project1" />
                        </figure>
                    </a>

                    <p>
                        <strong>JJ Merelo</strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed nisl nulla, non.
                    </p>
                </li>
                <li>
                    <a href="#">
                        <figure class="glossy">
                            <img src="/static/tmp/hurtado.jpg" class="rounded bordered" alt="project1" />
                        </figure>
                    </a>
                    <p>
                        <strong>Álvaro Hurtado</strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed nisl nulla, non.
                    </p>
                </li>
                <li>
                    <a href="#">
                        <figure class="glossy">
                            <img src="/static/tmp/hhkaos.jpg" class="rounded bordered" alt="project1" />
                        </figure>
                    </a>
                    <p>
                        <strong>Raúl Jiménez</strong><br>
                        Serial entrepreneur and Product Manager at Floqq.com
                    </p>
                </li>
                <li>
                    <a href="#">
                        <figure class="glossy">
                            <img src="/static/tmp/margenta.jpg" class="rounded bordered" alt="project1" />
                        </figure>
                    </a>
                    <p>
                        <strong>Jorge Margenta</strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed nisl nulla, non.
                    </p>
                </li>
                <li>
                    <a href="#">
                        <figure class="glossy">
                            <img src="/static/tmp/okmakey.jpg" class="rounded bordered" alt="project1" />
                        </figure>
                    </a>
                    <p>
                        <strong>Jorge Aguilera</strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed nisl nulla, non.
                    </p>
                </li>
            </ul>


            <div class="center clear">
                <a href="{% url "mentors_list" %}" class="btn">Know all mentors</a>
            </div>
        </div>
    </div>


</div>
<div class="startups-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2 class="retro" id="startups">Rocket Startups</h2>

               <div class="project-wrapper">
                    <div class="project">
                        <a href="project.html">
                            <span class="project-desc">
                                <span>GeoRemindMe!</span>
                                <span>Social platform to share geolocated suggestions.</span>
                            </span>
                            <img src="{{STATIC_URL}}tmp/georemindme.png" alt="project1" />
                        </a>
                    </div>
                </div>


                <div class="center clear">
                    <a href="{% url "entrepreneurs_list" %}" class="btn">All Startups</a>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="push"></div>
{% endblock %}
