{% extends "base.html" %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="span12 centered">
      <h1>Game rules</h1>
      <p>
        A continuación se explican las políticas de funcionamiento de mento, 
        el incumplimiento de dichas normas podría llevar a la expulsión de la 
        plataforma.
      </p>
    </div>
    <div class="span6">
      <h2 class="centered light">Startups</h2>
      <blockquote>
        <p><strong>Como startup podrás:</strong></p>
        <p>1.- Usar gratuitamente la plataforma online</p>
        <p>2.- Solicitar gratuitamente tantas sesiones como desees</p>
        <p>3.- Asistir como invitado a otras sesiones de mentorización si el otro mentor está de acuerdo</p>

        <p><strong>Y tendrás la obligación de:</strong></p>
        <p>1.- Preparar y facilitar la información solicitada por el mentor para preparar la sesión con hasta 7 días de antelación.</p>
        <p>2.- Asistir a las sesiones de mentorización solicitadas.</p>
        <p>3.- Evaluar cada sesión en la que participes</p>
        <p>4.- Aceptar que tus sesiones serán evaluadas</p>
        <p>5.- Compartir información privilegiada para los mentores.</p>
        
      </blockquote>
    </div>
    
    <div class="span6">
      <h2 class="centered light">Mentors</h2>
      <blockquote>
        <p><strong>Derechos:</strong></p>
        <p>1.- Usar gratuitamente la plataforma online</p>
        <p>2.- Solicitar y recibir hasta con 7 días de antelación información que ayude a preparar la sesión información</p>
        <p>3.- Asistir como invitado a otras sesiones de mentorización si el otro mentor está de acuerdo</p>
        <p>4.- Acceder a información privilegiada sobre las startups mentorizadas</p>

        <p><strong>Obligaciones:</strong></p>
        <p>1.- Ofrecer las sesiones de mentoring gratuitamente.</p>
        <p>2.- Estar disponible para sesiones al menos 4 horas al mes.</p>
        <p>3.- Evaluar cada sesión en la que participe</p>
        <p>4.- Aceptar que sus sesiones serán evaluadas</p>
      </blockquote>
    </div>
  </div>
</div>
<div class="push"></div>
{% endblock %}
