{% extends "base.html" %}


{% block content %}
  Compromisos:
  El mentoring es voluntario (no remunerado)
  Disfrutar ayudando a emprendedores ;)
  Estar disponible al menos ... (4 horas al mes por ejemplo) a través de un sistema de video conferencia: Mashme.TV por ej :)
  Reunirse con uno o varios emprendedores en sesiones previamente preparadas (por ejemplo el o los emprendedores tendrían que enviar con 7 días de antelación las preguntas al mentor).
  Aceptar que sus sesiones serán evaluadas

  Derechos:

  Motivos de penailización:
  Fallar a más de X de las sesiones en Y tiempo
  Tener sesiones solicitadas y no atenderlas en X tiempo
{% endblock %}